
<div class="container">
  <div class="row">

    <h1 class="px-3 mx-auto">
      Welcome to
      <i class="fas fa-book"></i>
      <strong>Bookers!</strong>
    </h1> <!--mxは「左右のmargin」pxは「左右のpadding」-->
  </div>
</div>